body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#menu{
	list-style-type: none;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, rgb(180, 180, 220), rgb(120, 120, 180));
}

#menu li{
    font-size: 18px;
	padding: 10px 5px 13px 25px;
	overflow: hidden;
	width: 7em;
	float: left;
	color: rgb(60,60,140);
}

#menu .selected{
	color: rgb(30, 30, 90);
	background: linear-gradient(to bottom, rgb(150, 150, 190), rgb(90, 90, 150));
	
}

#menu li:not(.selected):hover{
	background: linear-gradient(to bottom, rgb(200, 200, 240), rgb(140, 140, 200));
}

#conn-content {
	padding-top: 0;
	font-size: 14px;
	margin:0;
}

#conn-content input[type="number"]{
	color: rgb(145,115,230);
	background-color: rgb(247,247,255);
	font-size: 16px;
	font-weight: bold;
	width: 3.5em;
}

a {
	text-decoration: none;
}

#conn-content a {
	color: rgb(130, 130, 210);
}

#conn-content a:hover{
	text-decoration: underline;
	color: rgb(105, 80, 180);
}

.description {
	font-size: 17px;
	overflow: hidden;
	text-align: left;
	background: linear-gradient(to bottom, rgb(245,245,245), rgb(230,230,230));
	padding: 0 0 5px 16px;
	height: 55px;
	margin: 0;
	border-bottom: 1px solid rgb(150,150,150);
}

.description div{
    height: 50px;
	display: table-cell;
    overflow: hidden;
	vertical-align: middle;
}

.part {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 50%;
	padding:0;
	float: left;
	display: inline;
	overflow: hidden;
}

input:not([type="submit"]), select{
        min-width: 7em;
	margin: 2px;
	padding: 3px;
	border: 1px solid rgb(180,180,180);
	border-radius: 3px;
}

input[type="submit"]{
	margin: 2px;
	padding: 3px 5px 3px 5px;
	border: 2px solid rgb(180,180,180);
	border-radius: 4px;
	background-color:rgb(215,215,215);
}

input[type="submit"]:hover {
	border-color: rgb(200,200,200);
	background-color: rgb(220,220,220);
}

#files-content input[name="client"]{
	width: 11em;
}

#files-content input[name="file"]{
	width: 14em;
}

#files-content {
	font-size: 0;
}

#files-content form{
	font-size: 16px;
	margin: 16px 0 12px 16px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	padding: 15px;
	width: 220px;
	height: 300px;
	border: 1px solid rgb(180,180,180);
	background-color: rgb(245,245,245);
}

#files-content form > *{
	margin: 3px;
}

#files-content form input{
	display: block;
}

#files-content form input[type="submit"]{
	margin-top:10px;
	margin: 10px auto 3px auto;
}

#files-content form div{
	background-color: rgb(180, 180, 220);
	border: 1px solid rgb(120, 120, 180);
	overflow-y: auto;
	max-height: 90px;
}

#files-content #vision-button{
	font-family: "Courier New", Courier, monospace;
	font-size: 17px;
	font-weight: bold;
	color: white;
	background: linear-gradient(to bottom, rgb(210, 210, 245), rgb(160, 160, 200));
	outline: none;
}

#files-content #vision-button:hover{
	background: linear-gradient(to bottom, rgb(230, 230, 255), rgb(180, 180, 220));
}

#files-content #vision-button:active{
	color: rgb(220,220,220);
	background: linear-gradient(to bottom, rgb(180, 180, 220), rgb(130, 130, 180));
}

#params-content .part {
	background-color: rgb(245,245,245);
}

#params-content ul{
	padding: 15px 0 15px 35px;
	margin:0;
}

#params-content li{
	padding:10px 0 0 0;
	margin: 0;
	height: 35px;
	font-size: 14px;
}

#params-content li:not(.last){
	border-bottom: 1px solid rgb(160,150,220);
}

#param-values{
	padding: 15px 0 15px 0;
	margin:0;
}

#param-values div{
	margin: 0;
	padding: 10px 0 0 0;
	height:35px;
}

#param-values div:not(.last){
	border-bottom: 1px solid rgb(160,150,220);
}

#submit-params{
	background-color: rgb(245,245,245);
	text-align:center;
}

#submit-params input{
	font-size:16px;
}

#param-values div input{
	width: 6em;
}

select option[selected]{
    background-color:rgb(230,230,230);
}

.connected {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: green;
	display:inline-block;
}
.offline {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	display:inline-block;
}
.blocked {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: orange;
	display:inline-block;
}
.closing {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: gray;
	display:inline-block;
}

th {
    text-align: center;
	font-size: 15px;
	border: 1px solid rgb(160,160,160);
	padding: 10px;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	margin: 20px auto;
	min-width: 80%;
	border: 2px solid rgb(140,140,140);
	background-color: rgb(248,248,248);
}

#table-description th{
	border: 1px solid rgb(120,120,120);
	background-color: rgb(240,240,240);
	font-weight: bold;
}